@import '_cores.scss';
@import '_reset.scss';
@import '_mixins.scss';
@import 'layout.scss';

.caixa-exercicio {
  @include card();
  
  &__formulario {
    flex-basis: 0;
    flex-grow: 1;
    padding: 10px;
    @include flex-centralizado(10px, column);

    input {
      @include input()
    }
  }

  &__caixa-resultado {
    background-color: $cinza-medio;
    flex-basis: 0;
    flex-grow: 1;
    padding: 3px 15px 5px 4px;
    border: solid $cinza-escuro 2px;

    @include flex-centralizado(0px, column);

    > span {
      width: 100%;
    }

    > span:nth-child(1) {
      font-size: 10px;
    }
    
    > span:nth-child(2) {
      flex-grow: 1;
      font-size: 23px;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.botao {
  @include botao();
}