@import '_cores.scss';
@import '_reset.scss';
@import '_mixins.scss';
@import 'layout.scss';

.caixa-exercicio {
  @include card();
  
  &__formulario {
    flex-basis: 0;
    flex-grow: 1;
    padding: 10px;
    @include flex-centralizado(10px, column);

    input {
      @include input()
    }
  }

  &__caixa-resultado {
    background-color: $cinza-medio;
    flex-basis: 0;
    flex-grow: 1;
    padding: 10px;
    border: solid $cinza-escuro 2px;
    @include flex-centralizado(10px, column);
  }
}

.botao {
  @include botao();
}